/* NAVBAR */
.navbar {
  background-color: transparent !important;
}

.searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40% !important;
  background: rgb(27, 89, 190) !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.filterText {
  color: white !important;
  margin-left: 4% !important;
}

.dFlex {
  margin-bottom: 0.5%;
}

.formControl {
  border-radius: 20px !important;
  height: 40px;
  margin: 0;
  padding: 8%;
}

.formSelect {
  max-width: 10% !important;
  max-height: 1% !important;
  margin: 1% 0 1% 1%;
}

/* CARD CONTAINER */
.cardContainer {
  padding-left: 1.5%;
}

.cardLink {
  border-radius: 8px;
  background-color: #154da6;
  text-decoration: none;
}

.cardLink:hover {
  background-color: rgba(71, 130, 225, 0.8);
}

.cardLink:active {
  background-color: white;
}

/* CARD STYLING */
.card {
  width: 210px;
  border-radius: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(3, 87, 222, 0.9) !important;
  box-shadow: 0 0px 20px rgba(10, 61, 145, 0.8) !important;
  backdrop-filter: blur(5px) !important;
}

.cardBody {
  padding: 2% 0 6% 0 !important;
}

.cardTitle {
  font-weight: bold;
  font-size: 1.2rem;
  color: white !important;
}

.cardImgBottom {
  width: 166px !important;
  height: 166px !important;
  margin: 20px;
  object-fit: cover;
  border-radius: 16px !important;
  border: 2px groove rgba(10, 61, 145, 1) !important;
}

/* BADGES */
.roundedPill {
  font-size: 0.7rem !important;
}

/* LIST ITEMS */
.listGroupItemTop,
.listGroupItemBot {
  color: white !important;
  font-weight: bold;
  width: 208px;
  padding: 4% 4% !important;
  display: flex !important;
  align-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal !important;
  border-left: 3px solid var(--bg-color) !important;
  border-right: 3px solid var(--bg-color) !important;
  background: var(--bg-color) !important;
  box-shadow: 0px 0px 4px var(--shadow-color) !important;
  backdrop-filter: blur(10px) !important;
}

.listGroupItemTop {
  border-top: 2px solid var(--border-color, yellow) !important;
}

.listGroupItemBot {
  border-bottom: 2px solid var(--border-color, yellow) !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

/* NO CANDIDATES */
.noCandidates {
  color: white;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.noCandidatesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2.4% auto;
  padding: 0.5%;
  width: 14% !important;
  border-radius: 20px;
  background-color: rgb(27, 89, 190) !important;
}
