.candidateProfilePage.card {
    color: var(--white) !important;

    background: rgba(18, 77, 173, 0.8) !important;
    box-shadow: 0 0px 20px rgba(10, 61, 145, 0.8) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 2px solid rgba(10, 61, 145, 1) !important;

    display: grid;
    grid-template-columns: 1fr 1.8fr 1fr;
    grid-template-rows: 120px 200px 260px 50px;
    grid-template-areas: 
      "title title title"
      "info info image"
      "info info stats"
      "back back back";

    margin: 2%;
    padding: 1% 0% 1% 0%;

    width: 60% !important;
}

.titleContainer {
    grid-area: title;
    justify-self: center;
}

.title {
    margin: 0 !important;
    font-weight: bold;
    font-size: 4rem;
}

.tableInformation {
    grid-area: info;
    width: 94%;
    justify-self: flex-end;
    align-self: flex-start;
}

.tableTitle {
    font-weight: bold;
    font-size: 1.5rem;
}

.firstCol {
    text-align: end;
    font-weight: bold;
    border: 1px double black;
}

.secondCol {
    border: 1px double black;
}

.list-group-item {
    color: var(--black) !important;
}

.candidateImageFormat {
    grid-area: image;
    align-self: flex-start;

    width: 166px !important;
    height: 166px !important;
    justify-self: center;
    object-fit: cover;
    border-radius: 16px !important;

    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 2px solid rgba(255, 255, 255, 1) !important;
}

.badge {
    margin: 0 2% 0 0;
}

.candidateDetails {
    width: 100%;
}

.card-footer {
    grid-area: back !important;
}

.btn.btn-primary {
    margin: 0;
    width: 100%;
}

.returnLink {
    grid-area: stats;
    background-color: var(--blue);
    color: var(--white);
    
    border-radius: 10px;
    
    height: 10%;
    display: flex;
    align-items: center;

    margin: 4% 0 6% 0;
    padding: 0.5% 1.5% 0.5% 1.5%;

    text-decoration: none;
    font-weight: bold;
}

.returnLink:hover {
    background-color: rgb(1, 42, 107);
    color: var(--white);
}

.returnLink:active {
    background-color: rgb(25, 79, 166);
    color: var(--white);
}
