/* Logout Button Styling */
.logoutBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffc72c;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.167);
}

.logoutText {
  margin-left: 8px;
  opacity: 0;
  width: 0;
  white-space: nowrap;
  color: #000;
}

.logoutBtn:hover .logoutText {
  opacity: 1;
  transition: opacity 0.5s ease;
  width: auto;
}
