.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  backdrop-filter: blur(5px);
  margin: 1% auto;
  box-shadow: 0 0px 20px rgba(10, 61, 145, 0.8);
  --bs-accordion-active-bg: rgba(10, 61, 145, 1) !important;
  --bs-accordion-bg: rgba(255, 255, 255, 0.69) !important;
}

.accordionButton {
  font-weight: bold !important;
  color: var(--white) !important;
}

.accordionButtonCollapsed {
  color: var(--bg-darkblue) !important;
}

.policyText {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 1rem;
  color: #000000;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
}

.summaryTitle {
  color: #000;
  font-weight: bold;
}

.summaryText {
  background-color: #cce7ff;
  border: 2px solid #4a90e2;
  padding: 10px;
  margin: 14px;
  border-radius: 14px;
}
