.accordionBody {
  padding: 1.25rem;
  overflow: auto;
}

.accordionButton {
  font-weight: bold;
}

.policyText {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 1rem;
  color: #000000;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
}

.summaryTitle {
  color: #000;
  font-weight: bold;
}

.summaryText {
  background-color: #cce7ff; /* Light blue background */
  border: 2px solid #4a90e2; /* Blue border */
  padding: 10px;
  margin: 14px;
  border-radius: 14px;
}
